{% extends "base.html" %}

{% block content %}

<br/>
<br/>
<br/>

<table border="0">
    <tr>
        <td colspan="2" align="center"><b><font size="5">Log is not yet available.</font></b></td>
    </tr>

    <tr>
        <td colspan="2" align="center"><b><font size="5">Try again in a few minutes.</font></b></td>
    </tr>



</table>



<html>
<head>
<script type="text/javascript">
function goBack()
  {
  window.history.back()
  }
</script>
</head>
<body>

<input type="button" value="Go Back" onclick="goBack()" />

</body>
</html>





{% endblock %}
